[Unit]
Description=AlgoFeast API Backend
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/algofeast-workspace/algofeast-api
EnvironmentFile=/home/ec2-user/algofeast-workspace/algofeast-api/.env
ExecStart=/home/ec2-user/algofeast-workspace/algofeast-api/algo-env/bin/python3.11 -m uvicorn main:app --host 127.0.0.1 --port 8000

[Install]
WantedBy=multi-user.target

